param="model"           value="../work/english.sample.1000.word2vec.word.vector.txt"
param="model-vocab"     value="../work/english.sample.1000.word2vec.word.vector.txt.vocab"
param="model-binary"    value="../work/english.sample.1000.word2vec.word.vector.txt.binary"

param="question-file"   value="../data/questions-words.txt"

param="threshold"       value="0"
param="binary"          value="0"
