param="model"           value="../work/english.sample.1000.word2vec.word.vector.txt"
param="model-vocab"     value="../work/english.sample.1000.word2vec.word.vector.txt.vocab"
param="model-binary"    value="../work/english.sample.1000.word2vec.word.vector.txt.binary"

param="binary"          value="0"