param="train-file"              value="../data/english.sample.1000.txt"
param="save-vocab"              value="../work/english.sample.1000.word2vec.vocab.txt"
param="output-file"             value="../work/english.sample.1000.word2vec.word.vector.txt"
param="output-word-cluster"     value="../work/english.sample.1000.word2vec.word.cluster.txt"

param="threads-number"          value="2"
param="window"                  value="8"
param="sample"                  value="1e-4"
param="size"                    value="200"
param="classes"                 value="0"
param="binary"                  value="0"
param="hs"                      value="0"
param="negative"                value="25"
param="model"                   value="1"
param="min-count"               value="2"

param="debug"                   value="0"
param="display-parameters"      value="1"
