param="train-file"               value="../data/english.sample.1000.txt"
param="save-vocab"               value="../work/english.sample.1000.wrrbm.vocab.txt"
param="output-file"              value="../work/english.sample.1000.wrrbm.word.vector.txt"
param="log-file"                 value="../work/english.sample.1000.wrrbm.log.txt"

param="init-momentum"            value="0.5"
param="final-momentum"           value="0.9"
param="batch-size"               value="20"
param="pretrain-rate"            value="0.1"
param="bias-rate"                value="0.1"
param="epoches"                  value="2"

param="burn-in"                  value="80"
param="cutoff"                   value="2"
param="embedding-size"           value="50"
param="l1"                       value="0"
param="l2"                       value="0"
param="hidden"                   value="300"
param="left"                     value="2"
param="right"                    value="2"
param="threads-number"           value="1"
param="save-frequency"           value="1"
param="min-count"                value="2"

param="block-size"               value="100000"

param="debug"                    value="0"

param="binary-format"            value="1"
param="text-format"              value="1"

param="display-parameters"       value="1"


